.nav {
	height: 65px;
	width: 100%;
	background-color: rgb(255, 255, 255);
}

.toolbar-icon{
	color: #009bf6 !important;
}

.enlace{
	margin-left: 20px;
    margin: auto;
	color: #009bf6;
}

mat-nav-list.list-horizontal {
	padding: 0;
	.mat-list-item {
	  display: inline-block;
	  height: auto;
	  width: auto;
	}
  }