<div class="contenido">
  <div class="nav" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/home" class="Pml-05" fxFlex="25" fxLayout="row" fxLayoutAlign="start center">
      <b>
        <img src="../../../../assets/img/icons/WalleTTicket-icon.jpg" alt="homepage" class="logo" style="width: 80px;">
      </b>
      <div style="margin-left: 20px;">
        <h2 class="enlace">Administración de WalleTTicket</h2>
      </div>
      
    </a>

    <div fxLayout="row" fxFlex="45" fxLayoutAlign="space-between center">

      <button fxFlex="25" mat-button class="toolbar-icon w40" routerLink="/category">
        <mat-icon class="Pmr-2">architecture</mat-icon> Categorias
      </button>

      <button fxFlex="25" mat-button class="toolbar-icon w40">
        <mat-icon class="Pmr-2">business</mat-icon> Compañias 
      </button>

      <button fxFlex="25" mat-button class="toolbar-icon w40">
        <mat-icon class="Pmr-2">group</mat-icon> Empleados 
      </button>

      <button fxFlex="25" mat-button class="toolbar-icon w40">
        <mat-icon class="Pmr-2">groups</mat-icon> Administradores 
      </button>

    </div>

    <div fxLayout="row" fxFlex="10" fxLayoutAlign="end center">
      <button mat-icon-button (click)="exit()" class="Pmr-05">
        <mat-icon class="toolbar-icon">logout</mat-icon>
      </button>
    </div>

  </div>

</div>