<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{companyInput.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{companyInput.image}}" alt="Imagen de la Compañía">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions style="width: 100%;" fxLayoutAlign="end center">
    <button fxFlex="30" mat-icon-button matTooltip="Eliminar Compañía" class="actionWarn-c">       <mat-icon>delete</mat-icon> Eliminar </button>

    <button fxFlex="30" mat-icon-button matTooltip="Editar Compañía" class="actionAccent-c">       <mat-icon>edit</mat-icon> Editar</button>
  </mat-card-actions>
</mat-card>
