<app-toolbar></app-toolbar>

<mat-card>
  <mat-card-content class="Pml-1 Pmr-1">
      <div fxLayout="row" fxLayoutAlign="space-between center">

          <h2 fxFlex="35" class="Pmr-1" style="color: #009bf6 !important; font-size: 25px; margin: auto">Listado de Empleados</h2>

          <div fxFlex="40">
              <mat-form-field>
                  <mat-label>Buscar por Nombre</mat-label>
                  <input matInput (keyup)="applyFilter($event)" #input>
              </mat-form-field>
          </div>

          <div fxFlex="25" fxLayout="row">
          </div>

          <button fxFlex="10" mat-raised-button class="actionPrimary-b" matTooltip="Crear Recibo"
              (click)="createEmployee()">
              <mat-icon>add</mat-icon> Nuevo Empleado
          </button>

      </div>
  </mat-card-content>
</mat-card>


<div>
  <mat-card>
    <mat-card-content>
      <div class="example-container m-t-20">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" matSort matTableExporter>

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="accions">
              <mat-header-cell *matHeaderCellDef class="header-align-right" style="text-align: right;"> 
                <div style="margin-right: 15px;"> Acciones</div>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" >
                <div style="width: 100%; text-align: end;">
                  <button mat-icon-button  class="Pmr-05" matTooltip="Editar Usuario" (click)="editEmployee(element, element.id)">
                    <mat-icon class="actionPrimary-c">edit</mat-icon>
                  </button>

                  <button mat-icon-button matSuffix
                    [attr.aria-label]="'Hide password'" (click)="changeEnabled(element.enabled, element.id)"
                     [attr.aria-pressed]="element.enabled" matTooltip="Deshabilitar/Habilitar Usuario">
                    <mat-icon class="primary">{{element.enabled ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>

                  <button mat-icon-button (click)="deleteEmployee(element.id)" class="Pmr-05" matTooltip="Eliminar Usuario">
                    <mat-icon class="actionWarn-c">delete</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
            <div fxLayout="row" *matNoDataRow style="height: 300px; width: 100%;">
              <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
                <h1 class="not-found-text"> No se encontraron datos en la búsqueda</h1>
                <mat-icon class="not-found-icon">error_outline</mat-icon>
              </div>
            </div>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="position: absolute; bottom:0; right: 0;"
            aria-label="Select page of periodic elements">
          </mat-paginator>
   
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>